.contact_us{
    background-color: rgb(77 37 200);
    background-image: linear-gradient(#5016e1, skyblue);
    text-align: center;
    padding:20px;
    align-items: center;
    margin-bottom: 10px;
    color: white;
}
.button{
    border-radius: 5px;
    padding:10px;
    margin:5px;
    width:12%;
    cursor: pointer;
    text-align: center;
    font-size: medium;

}
.button:hover{
   background-color: gray;
   color:white;
}
.line{
    width: 10%;
    color: black;
    background-color: black;
    height: 3px;
    margin: auto;     
}
.ptext, .button{
    padding:10px;
    margin:5px;
    text-decoration: solid;
}
